# ------------------------------------
# Build output
# ------------------------------------
target/
**/target/
build/
**/build/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# ------------------------------------
# Maven
# ------------------------------------
.mvn/
mvnw
mvnw.cmd

# ------------------------------------
# Spring Tool Suite (STS)
# ------------------------------------
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# ------------------------------------
# IntelliJ IDEA
# ------------------------------------
.idea/
*.iws
*.iml
*.ipr
out/

# ------------------------------------
# NetBeans
# ------------------------------------
nbbuild/
dist/
nbdist/
.nb-gradle/
nbproject/private/

# ------------------------------------
# Visual Studio Code
# ------------------------------------
.vscode/

# ------------------------------------
# OS / System
# ------------------------------------
.DS_Store
Thumbs.db

# ------------------------------------
# Application Secrets & Vault
# ------------------------------------
/secrets/
*.env
*.key
*.pem
*.crt
vault-token
bootstrap.yml
application-local.yml
application-local.properties
application-dev.yml
application-prod.yml

# ------------------------------------
# Logs & temp files
# ------------------------------------
*.log
*.tmp
*.pid
*.gz
*.out
